@media screen and (max-width: 1200px) {
	.favs {
		display: none !important;
	}
	.search-bar {
		width: 30%;
	}
	input {
		font-size: 11px !important;
	}
	.song-name-main h1 {
		font-size: 2.4vw;
	}
	.desc {
		font-size: 1.2vw;
	}
}
@media screen and (max-width: 900px) {
	.desc {
		font-size: 1.6vw;
	}
	label {
		display: block;
	}
	.section-2 {
		visibility: hidden;
		opacity:0;
		position: absolute;
		width: 300px;
		height: 68vh;
		background-color: #050043;
		box-shadow: 0px 0px 2px 1px white;
		right: 0px;
		top: 23.5%;
		overflow: scroll;
		transition:opacity ease-in-out 0.5s;
		
	}
	input[type="checkbox"]:checked~.section-2
	{
		visibility: visible;
		opacity:1;
	}
	.list {
		overflow: hidden;
		height: auto;
	}
	.list-item {
		background-color: #1a1e33;
	}
	.section-2::-webkit-scrollbar {
		display: none;
	}
	.section-1 {
		width: 100%;
	}
	.jumbotron {
		height: 30vw;
	}
	.jumbotron-image {
		height: 30vw;
		width: 30vw;
	}
	.action-part p {
		font-size: 2vw;
	}
	.btns > button {
		height: 4vw;
		width: 11vw;
		font-size: 1.7vw;
	}
}
@media screen and (max-width: 700px) {
	.followers,
	.author {
		font-size: 2vw;
	}
	.desc {
		font-size: 1.8vw;
	}
}
@media screen and (max-width: 550px) {
	.website-logo img {
		height: 30px;
		width: 30px;
	}
	.website-name h1 {
		font-size: 3vw;
	}
	.website-name h4 {
		font-size: 2vw;
	}
	.notification-bell img {
		width: 20px;
		height: 20px;
	}
	.profile-picture img {
		width: 30px;
		height: 30px;
	}
	.notification-bell,
	.profile-picture {
		margin-top: 8px;
	}
	.song-name-main h1 {
		font-size: 3vw;
	}
	.followers,
	.author {
		font-size: 3vw;
	}
	.desc {
		font-size: 3vw;
		padding-left:4px;
	}
	.action-part {
		padding-top: 0px;
	}
	.jumbotron {
		height: 60vw;
		text-align: justify;
	}
	.jumbotron-image {
		height: 60vw;
		width: 60vw;
	}
	.btns > button {
		height: 8vw;
		width: 17vw;
		font-size: 3.2vw;
	}
}
