:root
{
    --background-image:linear-gradient(-45deg, #0037ff -100%, #33ff00 200%);
}
body
{
    background-image: var(--background-image);
    margin:0px;
    font-family:"Segoe UI",Arial,sans-serif;
    color:white;
}
h1, h2, h3, h4, h5, h6, p
{
    margin:0px;
}
/* top navigation bar */
.navigation-bar 
{
    height: auto;
    width: auto;
    background-image:linear-gradient(180deg, black, rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    transition:all ease-in-out 1s;/* when the navbar loads, every property transits for 1s */
}
.navigation-bar>div
{
    display:inline-block;
}
@keyframes rotating
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}
.website-logo img
{
    height:50px;
    width:50px;
    border-radius: 100%;
    animation-name:rotating;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.title-combo>div
{
    vertical-align: middle;
    display:inline-block;
}
@keyframes flexible
{
    0%
    {
        transform:rotate(0deg);
    }
    50%
    {
        transform:rotateY(360deg);
    }
    75%
    {
        transform:scale(1.2);
    }
    100%
    {
        transform:scaleX(1);
    }
}
.favs
{
    animation-name:flexible;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    perspective: 10000px;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
}
.search-bar {
    width:20%;
}
.search-bar input
{
    width:100%;
    font-size:16px;
    text-decoration: none;
    border-radius: 18px;
    border: none;
    padding:5px;
    font-weight:500;
    text-align: center;
    transition:all ease-in-out 1s;
}
.search-ico
{
    color:rgba(0, 0, 0, 0.5);
}
.mic-ico
{
    color:rgba(0, 0, 0, 0.5);
}
.search-bar>div:nth-child(1) {
    display: inline-block;
    position: relative;
    width: min-content;
    top: 3.1vh;
    left: 1vw;
    transition:all ease-in-out 1s;
}
.search-bar>div:nth-child(3) {
    display: inline-block;
    position: relative;
    width: min-content;
    top: -3.0vh;
    left: 17vw;
    transition:all ease-in-out 1s;
}
input:focus
{
    outline:none;
}
@keyframes ringing_bell
{
    0%
    {
        transform:rotate(-15deg);
    }
    50%
    {
        transform:rotate(15deg);
    }
    100%
    {
        transform:rotate(-15deg);
    }
}
.notification-bell img
{
    width:30px;
    height:30px;
    animation-name: ringing_bell;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.profile-picture img
{
    width:45px;
    height:45px;
    border-radius: 100%;
}
/* main */
main
{
    width:100%;
    padding:0% 3%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    transition:all ease-in-out 1s;
}
.aside
{
    display:inline-block;
    overflow:hidden;
}
.section-1
{
    width:70%;
    height:82vh;
    overflow: scroll;
}
.section-1::-webkit-scrollbar
{
    display:none;
}
.section-2
{    
    width:28%;
    height:82vh;
}
/* aside section 1 */

































footer
{
    position:absolute;
    bottom:1px;
    width:100%;
    height:60px;
    background-color:#282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap:nowrap;
    padding:0px 3%;
    box-sizing: border-box;
    z-index:6;
}
/* footer is divided into 3 parts */
/* 1. first part of the footer */
.active-song-description
{
    /* border:1px solid white; */
    height:90%;
    width:25%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#song-image
{
    width:50px;
    height:50px;
    min-width:50px;
    min-height:50px;
}
#song-image img
{
    width:100%;
    height:100%;
}
.heart-and-ban-icon
{
    height:100%;
    padding-top:4%;
}
.song-desc
{
    margin-right:1%;
    margin-left:1%;
}
.song-desc div:nth-child(1)
{
    font-size:14px;
}
.song-desc div:nth-child(2)
{
    font-size:12px;
}

/* 2. Second part of the footer*/
.player
{
    width:45%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap:nowrap;
}
.controls
{
    width:40%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
}
#slider
{
    width:100%;
    font-size:12px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top:5px;
}
/* ////////// */
.time
{
    margin:0px 10px;
}

/* adjusting the slider for better visuals */
.slidecontainer 
{
    width: 100%;
}
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover 
{
    opacity: 1;
}
  
.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}
  
.slider::-moz-range-thumb 
{
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}


/* third part of the footer */
.extras
{
    width:20%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
