body
{
    background-color:#0c1027;
    margin:0px;
    font-family:"Segoe UI",Arial,sans-serif;
    color:white;
}
h1, h2, h3, h4, h5, h6
{
    margin:0px;
}
/* top navigation bar */
.navigation-bar
{
    height:10vh;
    width:auto;
}
.navigation-bar>div
{
    display:inline-block;
}
.website-logo
{
    height:max-content;
    width:max-content;
    position: relative;
    top:20%;
    left:7%;
    float:left;
}
.website-logo img
{
    height:50px;
    width:50px;
    display:flex;
}
.website-name
{
    position:relative;
    top:15%;
    left:8%;
    float:left;
}
.favs
{
    position:relative;
    float:left;
    top:43%;
    left:13%;
}
.search-bar {
    position: absolute;
    float: left;
    top: 4%;
    left: 48%;
    width:20%;
}
.search-bar input
{
    width:100%;
    font-size:16px;
    text-decoration: none;
    border-radius: 18px;
    border: 1px solid white;
    padding:5px;
    font-weight:500;
    text-align: center;
}
.search-ico
{
    position:absolute;
    top:25%;
    left:4%;
    color:rgba(0, 0, 0, 0.5);
}
.mic-ico
{
    position:absolute;
    top:25%;
    float:right;
    right:0%;
    color:rgba(0, 0, 0, 0.5);
}
input:focus
{
    outline:none;
}
.notification-bell
{
    position:relative;
    float:right;
    top:45%;
    right:20%;
}
.notification-bell img
{
    width:30px;
    height:30px;
}
.profile-picture
{
    position:relative;
    float:right;
    top:31%;
    right:10%
}
.profile-picture img
{
    width:45px;
    height:45px;
    border-radius: 100%;
}
.red-dot img
{
    width:10px;
    height:10px;
}
.red-dot {
    position: absolute;
    top: -18%;
    left: 73%;
}





/* main */
main
{
    width:100%;
    border:0px solid white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:8% 0px;
}
.aside
{
    border:2px solid white;
    display:inline-block;
}
.section-1
{
    width:70%;
    height:800px;
}
.section-2
{
    width:25%;
    height:800px;
}
/* aside section 1 */
.carousel
{
    width:100%;
    height:300px;
    display:flex;
    flex-direction: row;
    overflow: visible;
    justify-content: space-around;
}
.carousel img
{
    height:30vw;
    width:45vw;
}
.carousel img:nth-child(1)
{
    position:relative;
    left:34vw;
    /* top:0%;
    left:0%; */
    z-index: 2;
}
.carousel img:nth-child(2) 
{
    z-index: 3;
    box-shadow: 0px 41px 52px 5px black;
    /* top:0%;
    left:20%; */
}
.carousel img:nth-child(3)
{
    position: relative;
    right:34vw;
    z-index:1;
   /*  bottom:100%;
    right:-32%; */
}