body
{
    background-color:#0c1027;
    margin:0px;
    font-family:"Segoe UI",Arial,sans-serif;
    color:white;
}
h1, h2, h3, h4, h5, h6, p
{
    margin:0px;
}
/* top navigation bar */
.navigation-bar 
{
    height: auto;
    width: auto;
    background-image:linear-gradient(180deg, black, rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    transition:all ease-in-out 1s;/* when the navbar loads, every property transits for 1s */
}
.navigation-bar>div
{
    display:inline-block;
}
@keyframes rotating
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}
.website-logo img
{
    height:50px;
    width:50px;
    border-radius: 100%;
    animation-name:rotating;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.title-combo>div
{
    vertical-align: middle;
    display:inline-block;
}
@keyframes flexible
{
    0%
    {
        transform:rotate(0deg);
        color:red;
    }
    50%
    {
        transform:rotateY(360deg);
        color:yellow;
    }
    75%
    {
        transform:scale(1.2);
        color:green;
    }
    100%
    {
        transform:scaleX(1);
        color:magenta;
    }
}
.favs
{
    animation-name:flexible;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    perspective: 10000px;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
}
.search-bar {
    width:20%;
}
.search-bar input
{
    width:100%;
    font-size:16px;
    text-decoration: none;
    border-radius: 18px;
    border: none;
    padding:5px;
    font-weight:500;
    text-align: center;
    transition:all ease-in-out 1s;
}
.search-ico
{
    color:rgba(0, 0, 0, 0.5);
}
.mic-ico
{
    color:rgba(0, 0, 0, 0.5);
}
.search-bar>div:nth-child(1) {
    display: inline-block;
    position: relative;
    width: min-content;
    top: 3.4vh;
    left: 1vw;
    transition:all ease-in-out 1s;
}
.search-bar>div:nth-child(3) {
    display: inline-block;
    position: relative;
    width: min-content;
    top: -3.2vh;
    left: 17vw;
    transition:all ease-in-out 1s;
}
input:focus
{
    outline:none;
}
@keyframes ringing_bell
{
    0%
    {
        transform:rotate(-30deg);
    }
    50%
    {
        transform:rotate(30deg);
    }
    100%
    {
        transform:rotate(-30deg);
    }
}
.notification-bell img
{
    width:30px;
    height:30px;
    animation-name: ringing_bell;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.profile-picture img
{
    width:45px;
    height:45px;
    border-radius: 100%;
}


/* main */
main
{
    width:100%;
    padding:0% 3%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    transition:all ease-in-out 1s;
}
.aside
{
    display:inline-block;
}
.section-1
{
    width:70%;
    height:87vh;
    overflow: scroll;
}
.section-1::-webkit-scrollbar
{
    display:none;
}
.section-2
{    
    width:28%;
    height:87vh;
}
/* aside section 1 */
.outer-carousel
{
    position:relative;
    left:9vw;
    margin-top:5%;
    transition:all ease-in-out 1s;
}
.carousel {
    position: absolute;
    left: 2%;
    width: 68%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: visible;
    justify-content: space-around;
}
.carousel img
{
    height:15vw;
    width:22.5vw;
    border-radius: 20px;
    transition:all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}
.carousel img:nth-child(1)
{
    position:relative;
    left:41vw;
    z-index: 2;
}
.carousel img:nth-child(2) 
{
    z-index: 3;
}
.carousel img:nth-child(3)
{
    position: relative;
    right:41vw;
    z-index:1;
}

/* animations for carousel */

.carousel img:hover
{
    z-index: 4;
    box-shadow: 0px 0px 12px 0.1px black;
    height:18vw;
    width:27vw;
}

/* latest release */

.latest-release
{
    position: relative;
    top:20vw;
    height:auto;
    width:100%;
    box-sizing: border-box;
}
.latest-release-content
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.latest-release-content>div
{
   /*  border:1px solid white; */
    height:100px;
    width:47%;
    margin:5px 0px;
}
.card
{
    display:flex;
    flex-direction: row;
}
.card img
{
    width:100px;
    height:100px;
    z-index:1;
}
.play-button
{
    width:100%;
    height:100%;
    position:relative;
    top:-104%;
    color:rgba(255, 255, 255 , 0);
    background-color: rgba(0, 0, 0, 0);
    font-size:40px;
    padding-top:2%;
    text-align: center;
    z-index:100;
    transition: all ease-in-out 0.2s;
}
.play-button i
{
    padding-top:28%;
}
.play-button:hover
{
    color:rgba(255, 255, 255 , 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}
.song-description
{
    margin:auto 9%;
}
.options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    text-align: right;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 2%;
}

/* popular artists */
.popular-artists
{
    position:relative;
    width:100%;
    height:auto;
    top:26vw;
    box-sizing:border-box;
}
.popular-artist-content
{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.popular-artists div img
{
    width:10vw;
    min-width:60px;
    min-height:60px;
    height:10vw;
    border-radius: 50%;
}
.popular-artists div
{
    margin:5px;
    text-align: center;
}
.popular-artists div p
{
    text-align: center;
}
/* music themes */
.music-themes
{
    position: relative;
    top:28vw;
    width:100%;
    height:auto;
    box-sizing: border-box;
    background-color:#101642;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.stations
{
    margin-top:30px;
    margin-bottom:30px;
    margin-right: 10px;
}
#div1
{
    width:12vw;
    height:8vw;
    background-color: yellow;
}
#div2 {
    position: relative;
    top: -1vw;
    left: 1vw;
    width: 10vw;
    height: 10vw;
    background-color: yellowgreen;
}
#div3 
{
    position: relative;
    top: -1vw;
    left: 1vw;
    width: 8vw;
    height: 12vw;
    background-color: orangered;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div3 img
{
    width:5vw;
    height:5vw;
}
#div3 p
{
    font-size:2vw;
}
.music-themes div img
{
    width:8vw;
    height:8vw;
    border-radius: 50%;
}
.theme-content p {
    text-align: center;
    position: relative;
    top: -8.25vw;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size:2vw;
    background-image: linear-gradient(0deg, rgb(162, 0, 255) -66%, rgba(0, 0, 0, 0));
    transition: background-image 0.3s;
}
.theme-content p:hover
{
    background-image: linear-gradient(0deg, rgb(255, 0, 0) -66%, rgba(0, 0, 0, 0));
}
.theme-content
{
    margin:3%;
    height:8vw;
    width:8vw;
    text-align:center;
    border-radius: 100%;
}
.theme-main
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* music themes -2 */
.music-themes-2
{
    position:relative;
    top:30vw;
    height:auto;
    width:100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.outer-div
{
    width:19.5vw;
    height:13vw;
    overflow:hidden;
    min-width:123px;
    min-height: 82px;
    margin:5px;
    cursor:pointer;
}
.inner-div
{
    width:100%;
    height:100%;
    background-color:black;
    background-position:center;
    background-size:cover;
    transition:all ease-in-out 0.3s;
}
.music-themes-2 .outer-div:nth-child(1) .inner-div
{
    background-image:url("media/music\ themes\ 2/party.jpg");
}
.music-themes-2 .outer-div:nth-child(2) .inner-div
{
    background-image:url("media/music\ themes\ 2/electronic.jpg");
}
.music-themes-2 .outer-div:nth-child(3) .inner-div
{
    background-image:url("media/music\ themes\ 2/road.jpg");
}
.outer-div:hover .inner-div
{
    transform:scale(1.3);
}
.outer-div .inner-div span
{
    transform:scale(1);
    transition:all ease-in-out 0.3s;
}
.outer-div:hover .inner-div span
{
    transform:scale(0.75);
}
.inner-div::before
{
    content:"";
    display:none;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition:0.3s;
}
.inner-div
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.outer-div .inner-div span {
    /* color: white; */
    color:white;
    font-size: 2vw;
}



/* language wise */

.language
{
    position:relative;
    top:31vw;
    height:auto;
    width:100%;
    box-sizing: border-box;
    margin:3vw 0px;
}
.language-content
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
.language-content div img
{
    width:10vw;
    min-width: 60px;
    height:10vw;
    min-height:60px;
}
.language-content div
{
    margin:2vw 0px;
    width:10.2vw;
    min-width:60px;
}
.language-content div p:nth-child(2n)
{
    width:100%;
    word-wrap: break-word;
}
.language-content div p:nth-child(2n+1)
{
    font-size:0.8vw;
}


/* #007bff */




/* ASIDE SECTION 2 */
.heading
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom:12%;
}
.heading h4 a
{
    text-decoration: none;
    color:greenyellow;
}
.queue-options
{
    position:fixed;
    right:4%;
    top:14%;
    background-color:#f8f9fa;
    width:10%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:1%;
    box-sizing: border-box;
    overflow:hidden;
    z-index:2;/* to cover the heart icon */
    opacity:0;
    transform:scale(0);
    transition:all ease-in-out 0.25s;
}
#queue-option-box:target
{
    opacity:1;
    transform:scale(1);
}
.queue-options
{
    color:black;
}
.queue-options p
{
    text-align: center;
}
.queue-options p a
{
    text-decoration:none;
}
hr
{
    width:90%;
    color:black;
}

/* playlist content */
.playlist-content
{
    width:100%;
    height:77vh;
/*     margin-top:4vh; */
    display:flex;
    flex-direction: column;
    overflow:scroll;
    cursor:pointer;
}
.playlist-content::-webkit-scrollbar
{
    display:none;
}
.left-content
{
    display:flex;
    height:100%;
    width:70%;
    flex-direction: row;
    flex-wrap:no-wrap;
    justify-content: space-between;
    align-items: center;
}
.left-content>div:nth-child(3)
{
    margin-left:12px;
    width:50%;
    word-wrap: break-word;
}
.right-content 
{
    position: relative;
    bottom: 62%;
    left: 90%;
    width: min-content;
    height: 20px;
    color: white;
    font-size: 20px;
}
.right-content i
{
    transition: all ease-in-out 0.1s;
}
.right-content i:hover
{
    color:red;
}
.playlist-item
{
    width:90%;
    height:auto;
    padding:0px 1%;
    box-sizing: border-box;
    margin:1%;
    transition:all ease-in-out 0.1s;
}
.playlist-item:hover
{
    box-shadow:0px 0px 12px 1px white;
}
.playlist-item img
{
    width:80px;
    height:80px;
}
.coverer
{
    width:80px;
    height:80px;
}

