body
{
    background-color:#0c1027;
    margin:0px;
    font-family:"Segoe UI",Arial,sans-serif;
    color:white;
}
h1, h2, h3, h4, h5, h6, p
{
    margin:0px;
}
/* top navigation bar */
.navigation-bar
{
    height:10vh;
    width:auto;
}
.navigation-bar>div
{
    display:inline-block;
}
.website-logo
{
    height:max-content;
    width:max-content;
    position: relative;
    top:20%;
    left:7%;
    float:left;
}
.website-logo img
{
    height:50px;
    width:50px;
    display:flex;
}
.website-name
{
    position:relative;
    top:15%;
    left:8%;
    float:left;
}
.favs
{
    position:relative;
    float:left;
    top:43%;
    left:13%;
}
.search-bar {
    position: absolute;
    float: left;
    top: 4%;
    left: 48%;
    width:20%;
}
.search-bar input
{
    width:100%;
    font-size:16px;
    text-decoration: none;
    border-radius: 18px;
    border: 1px solid white;
    padding:5px;
    font-weight:500;
    text-align: center;
}
.search-ico
{
    position:absolute;
    top:25%;
    left:4%;
    color:rgba(0, 0, 0, 0.5);
}
.mic-ico
{
    position:absolute;
    top:25%;
    float:right;
    right:0%;
    color:rgba(0, 0, 0, 0.5);
}
input:focus
{
    outline:none;
}
.notification-bell
{
    position:relative;
    float:right;
    top:45%;
    right:20%;
}
.notification-bell img
{
    width:30px;
    height:30px;
}
.profile-picture
{
    position:relative;
    float:right;
    top:31%;
    right:10%
}
.profile-picture img
{
    width:45px;
    height:45px;
    border-radius: 100%;
}
.red-dot img
{
    width:10px;
    height:10px;
}
.red-dot {
    position: absolute;
    top: -18%;
    left: 73%;
}





/* main */
main
{
    width:100%;
    border:0px solid white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:2% 0px;
}
.aside
{
    display:inline-block;
}
.section-1
{
    width:70%;
    height:85vh;
    overflow: scroll;
}
.section-2
{    
    border:2px solid white;
    width:25%;
    height:800px;
}
/* aside section 1 */
.outer-carousel
{
    position:relative;
    left:9vw;
}
.carousel {
    position: absolute;
    left: 2%;
    width: 68%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: visible;
    justify-content: space-around;
}
.carousel img
{
    height:15vw;
    width:22.5vw;
    border-radius: 20px;
    transition:all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}
.carousel img:nth-child(1)
{
    position:relative;
    left:41vw;
    z-index: 2;
}
.carousel img:nth-child(2) 
{
    z-index: 3;
}
.carousel img:nth-child(3)
{
    position: relative;
    right:41vw;
    z-index:1;
}

/* animations for carousel */

.carousel img:hover
{
    z-index: 4;
    box-shadow: 0px 0px 50px 0.1px black;
    height:18vw;
    width:27vw;
}

/* latest release */

.latest-release
{
    position: relative;
    top:20vw;
    height:auto;
    width:100%;
    box-sizing: border-box;
    padding: 0px 5.4%;
}
.latest-release-content
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.latest-release-content>div
{
   /*  border:1px solid white; */
    height:100px;
    width:47%;
    margin:5px 0px;
}
.card
{
    display:flex;
    flex-direction: row;
}
.card img
{
    width:100px;
    height:100px;
    z-index:1;
}
.play-button
{
    width:100%;
    height:100%;
    position:relative;
    top:-104%;
    color:rgba(255, 255, 255 , 0);
    background-color: rgba(0, 0, 0, 0);
    font-size:40px;
    padding-top:2%;
    text-align: center;
    z-index:100;
    transition: all ease-in-out 0.2s;
}
.play-button i
{
    padding-top:28%;
}
.play-button:hover
{
    color:rgba(255, 255, 255 , 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}
.song-description
{
    margin:auto 9%;
}
.options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    text-align: right;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 2%;
}

/* popular artists */
.popular-artists
{
    position:relative;
    width:100%;
    height:auto;
    top:26vw;
    box-sizing:border-box;
    padding:0px 5.4%;
}
.popular-artist-content
{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.popular-artists div img
{
    width:10vw;
    height:10vw;
    border-radius: 50%;
}
.popular-artists div
{
    margin:5px;
}
.popular-artists div p
{
    text-align: center;
}
/* music themes */
.music-themes
{
    position: relative;
    top:28vw;
    width:100%;
    height:auto;
    padding:0px 5.4%;
    box-sizing: border-box;
    background-color:#101642;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.stations
{
    margin-top:30px;
    margin-bottom:30px;
    margin-right: 10px;
}
#div1
{
    width:12vw;
    height:8vw;
    background-color: yellow;
}
#div2 {
    position: relative;
    top: -1vw;
    left: 1vw;
    width: 10vw;
    height: 10vw;
    background-color: yellowgreen;
}
#div3 
{
    position: relative;
    top: -1vw;
    left: 1vw;
    width: 8vw;
    height: 12vw;
    background-color: orangered;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div3 img
{
    width:5vw;
    height:5vw;
}
.music-themes div img
{
    width:8vw;
    height:8vw;
    border-radius: 50%;
}
.theme-content p {
    text-align: center;
    position: relative;
    top: -8.25vw;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size:2vw;
    background-image: linear-gradient(0deg, rgb(162, 0, 255) -66%, rgba(0, 0, 0, 0));
    transition: all ease-in-out 1s;
}
.theme-content p:hover
{
    background-image: linear-gradient(180deg, rgb(255, 0, 0) -66%, rgba(0, 0, 0, 0));
}
.theme-content
{
    margin:3%;
    height:8vw;
    width:8vw;
    text-align:center;
    border-radius: 100%;
}
.theme-main
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* music themes -2 */
.music-themes-2
{
    position:relative;
    top:30vw;
    height:auto;
    width:100%;
    box-sizing: border-box;
    padding:0px 5.4%;
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}
.outer-div
{
    width:19.5vw;
    height:13vw;
    overflow:hidden;
}
.inner-div
{
    width:100%;
    height:100%;
    background-color:black;
    background-position:center;
    background-size:cover;
    transition:all ease-in-out 0.3s;
}
.music-themes-2 .outer-div:nth-child(1) .inner-div
{
    background-image:url("media/music\ themes\ 2/party.jpg");
}
.music-themes-2 .outer-div:nth-child(2) .inner-div
{
    background-image:url("media/music\ themes\ 2/electronic.jpg");
}
.music-themes-2 .outer-div:nth-child(3) .inner-div
{
    background-image:url("media/music\ themes\ 2/road.jpg");
}
.outer-div:hover .inner-div
{
    transform:scale(1.3);
}
.inner-div::before
{
    content:"";
    display:none;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition:0.3s;
}
.inner-div
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.outer-div .inner-div span {
    /* color: white; */
    color:white;
    font-size: 2vw;
}



/* language wise */

.language
{
    position:relative;
    top:31vw;
    height:auto;
    width:100%;
    box-sizing: border-box;
    padding:0px 5.4%;
    margin:3vw 0px;
}
.language-content
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
.language-content div img
{
    width:10vw;
    height:10vw;
}
.language-content div
{
    margin:2vw 0px;
    width:10.2vw;
}
.language-content div p:nth-child(2n)
{
    width:100%;
    word-wrap: break-word;
}
.language-content div p:nth-child(2n+1)
{
    font-size:0.8vw;
}